<div class="p-grid border m-10 padding h-auto">
  <div class="p-col-3 border">
    <div class="p-col p-col-align-start h-250px">1</div>
    <div class="p-col p-col-align-end">
      <div class="p-col border mt-10px">1</div>
      <div class="p-col border mt-10px">2</div>
      <div class="p-col border mt-10px">3</div>
      <div class="p-col border mt-10px">4</div>
    </div>
  </div>
  <div class="p-col">
    <div class="p-col border mt-10px h-150px">
      <div class="p-grid p-justify-between m-2rem">
        <div class="p-col-2 border">1</div>
        <div class="p-col-2 border">2</div>
        <div class="p-col-2 border">3</div>
        <div class="p-col-2 border">4</div>
      </div>
    </div>
    <div class="p-col border mt-10px padding h-150px">2</div>
    <div class="p-col-6 border mt-10px padding h-150px">3</div>
  </div>
</div>

<!-- <div class="p-grid border padding">
  <div class="p-col-8">
    <div class="p-grid">
      <div class="p-col-6 border">6</div>
      <div class="p-col-6 border">6</div>
      <div class="p-col-12 border">12</div>
    </div>
  </div>
  <div class="p-col-4 border">4</div>
</div> -->
